mixin message(message, folder, canDelete)
  .list-group-item
    if folder == 'sent'
      small sent to 
        a(href='/users/'+message.recipient.id) #{message.recipient.username} 
        | #{message.date.fromNow()}
    else
      small received from 
        a(href='/users/'+message.sender.id) #{message.sender.username} 
        | #{message.date.fromNow()}
      if canDelete
        form.pull-right(action='/messages/'+message.id+'/delete',method='post')
          button.btn.btn-warning.btn-sm Archive
    h4.list-group-item-heading #{message.subject}
    .list-group-item-text 
      != message.text
      
.login-required

  - folder = query.folder || 'inbox'
  ul.nav.nav-tabs
    li(class=(folder == 'inbox' ? 'active' : ''))
      a(href='?folder=inbox') Inbox
    li(class=(folder == 'sent' ? 'active' : ''))
      a(href='?folder=sent') Sent
    li(class=(folder == 'archive' ? 'active' : ''))
      a(href='?folder=archive') Archive
    a.btn.btn-primary.pull-right(href='/create?type=message') Send Message
      
  br

  .list-group
    if folder == 'inbox'
      each message in received
        +message(message, folder, true)
    else if folder == 'sent'
      each message in sent
        +message(message, folder)
    else if folder == 'archive'
      each message in archived
        +message(message, folder)
      
.logout-required
  h3 You must be logged in to view your profile
  a.btn.btn-primary(href='/login') Login
  
