mixin post(post)
  .list-group-item
    a.list-group-item-heading(href='/topic/'+post.topic_id+'/post/'+post.post_id) 
      strong #{post.title}
    p.list-group-item-text 
      a(href='/user/'+post.user_id) #{post.user.username}
      |  &middot; #{post.date.fromNow()} in 
      a(href='/topic/'+post.topic_id) #{post.topic.name}
      |  &middot; #{post.replies.length} replies

html
  head
    title Awesome Forum
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=0')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    .navbar.navbar-inverse.navbar-static-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Awesome Forum
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') username 
              span.caret
            ul.dropdown-menu
              li
                a(href='/profile') Profile
                a(href='/inbox') Inbox
                a(href='/login') Log out
          li
            - let colors = ['f44336','E91E63','9C27B0','673AB7','3F51B5','2196F3','009688']
            img.img-circle(src='https://placehold.it/32/'+colors[0]+'/fff?text='+'U',style='padding: 9px')
    .container-fluid
      block content
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
