extends layout.pug

block content
  
  .row
    
    .col-md-6
      
      .panel.panel-default
        .panel-heading User Information
        .panel-body
          form
            a.btn.btn-primary.pull-right(href='/create?type=message&to='+user.username) Send a message to #{user.username}
            .form-group
              label Username
              p #{user.username}
            .form-group
              label Joined
              p #{user.date.format('MMMM D, YYYY')}
            .form-group
              label Biography
              != user.bio
              
    .col-md-6

      .panel.panel-default
        .panel-heading Topics Created
        .list-group
          if topics.length
            each topic in topics
              .list-group-item
                a.list-group-item-heading(href='/topics/'+topic.id) #{topic.name}
          else
            .list-group-item
              .text-center This user has not created any topics  

      .panel.panel-default
        .panel-heading Newest Posts
        .list-group
          if posts.length
            each post in posts
              .list-group-item
                a.list-group-item-heading(href='/posts/'+post.id) #{post.title}
          else
            .list-group-item
              .text-center This user has not created any posts
