extends layout.pug

block content
    
  .container
    .row
      .col-md-6
        .panel.panel-default
          .panel-heading User Information
          .panel-body
            if profile
              form
                .form-group
                  label Username
                  input(disabled, value=user.username).form-control
                .form-group
                  label Email Address
                  input(disabled, value=user.email_address).form-control
                button.btn.btn-primary Change Settings
            else
              form
                .form-group
                  label Username
                  p #{user.username}
                .form-group
                  label Joined
                  p #{user.date.format('MMMM d, YYYY')}
                .form-group
                  label Last seen 
                  p #{user.login.format('MMMM d, YYYY')}
                a.btn.btn-primary(href='/create?type=message&to='+user.username) Send a message
                
      .col-md-6
    
        .panel.panel-default
          .panel-heading Topics Created
          .list-group
            if topics.length
              each topic in topics
                .list-group-item
                  a.list-group-item-heading(href='/topic/'+topic.topic_id) #{topic.name}
            else
              .list-group-item
                .text-center This user has not created any topics  

        .panel.panel-default
          .panel-heading Newest Posts
          .list-group
            if posts.length
              each post in posts
                +post(post)
            else
              .list-group-item
                .text-center This user has not created any posts
